{% extends "basetemplate.html" %}

{% block title %} Registration2 {% endblock %}

{% block content %}
<!-- CONTENT -->
<section class="section-item registration-page ">
    <div class="container">


        <div class="row">
            <div class="section-content">
                <div class="title-wrap">
                    <h2 class="section-title title-line">Registration</h2>
                </div>


                {% if qualifications %}

                <div class="row table-wrap" id="qtable">
                        <table class="col-12">
                            <tbody id="qtable-body">
                            <tr>
                                <th>#</th>
                                <th>University</th>
                                <th>Degreelevel</th>
                                <th>Degree</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Action</th>
                            </tr>

                             {% for qualify in qualifications %}

                                <tr>
                                    <td>{{  forloop.counter  }}</td>
                                    <td>{{ qualify.university }}</td>
                                    <td>{{ qualify.degreelevel }}</td>
                                    <td>{{ qualify.degree }}</td>
                                    <td>{{ qualify.startmonth }} - {{ qualify.startyear }}</td>
                                    <td>{{ qualify.endyear }} - {{ qualify.endyear }}</td>
                                    <td><button class="btn btn-action btn-shadow-not btn-qualify-del" rel="{{ qualify.pk }}">Delete</button></td>
                                </tr>

                             {% endfor %}
                        </tbody>
                        </table>
                    </div>

                 {% endif %}



                <br>


                     <form class="row content qualify-add" method="post" ENCTYPE="multipart/form-data">
                        <div class="col-12">
                            <h2 class="section-title section-title-sm">Qualifications</h2>
                            <button type="button" class="btn btn-shadow-not btn-white btn-add"><span>+ </span> Add</button>
                        </div>



                        <div class="form-group form-group-mb col-lg-6">
                            <label for="university" class="input-sub-title">UNIVERSITY</label>
                            <input type="text" name="university" class="form-control light-input" id="university" name="university"  required
                                   placeholder="">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="level" class="input-sub-title">degree level</label>
                            <input type="text" name="degreelevel" class="form-control light-input" id="level" required
                                   placeholder=" ">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="degree" class="input-sub-title">DEGREE</label>
                            <select name="degree" id="degree"  class="form-control light-input select" required>
                                <option value="">select degree</option>

                                {% for degree in degrees %}

                                    <option value="{{ degree.pk }}">{{ degree }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="clean-input col-lg-6"></div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="month" class="input-sub-title">STARTING MONTH</label>
                            <input name="startmonth" id="month" class="form-control light-input  monthpicker" >

                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="startign-year" class="input-sub-title">startign year</label>
                            <input name="startyear" id="startign-year"
                                    class="form-control light-input yearpicker" >
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-month" class="input-sub-title">TO MONTH</label>
                            <input name="endmonth" id="to-month" class="form-control light-input select monthpicker">
                        </div>
                        <input type="hidden" value="1" name="userid">
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-year" class="input-sub-title">to year</label>
                            <input name="endyear" id="to-year" class="form-control light-input select yearpicker">

                        </div>
    
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <p class="input-sub-title ">Qualifications Document</p>
                                <div class="form-file form-group-mb">
                                    <input class="file-input" name="document" type="file" id="document">
                                    <label class="file-label" for="document"><span>+</span> Add
                                        document</label>
                                    <span class="file-name"></span>
                                </div>



                                <button type="submit" class="btn btn-action btn-shadow-not btn-save">Save</button>
                                <button style="display: none;" class="btn btn-action btn-shadow-not btn-cancel" >Cancel</button>
                            </div>
                        </div>


                    </form>

                   <div class="row content-line" ></div>

                {% if experience %}

                <div class="row table-wrap" id="etable">
                        <table class="col-12">
                            <tbody id="etable-body">
                            <tr>
                                <th>#</th>
                                <th>Company</th>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Action</th>
                            </tr>

                             {% for exp in experience %}

                                <tr>
                                    <td>{{  forloop.counter  }}</td>
                                    <td>{{ exp.company }}</td>
                                    <td>{{ exp.title  }}</td>
                                    <td>{{ exp.location  }}</td>
                                    <td>{{ exp.startmonth }} - {{ exp.startyear }}</td>
                                    <td>{{ exp.endyear }} - {{ exp.endyear }}</td>
                                    <td><button class="btn btn-action btn-shadow-not btn-exp-del" rel="{{ exp.pk }}">Delete</button></td>
                                </tr>

                             {% endfor %}
                        </tbody>
                        </table>
                    </div>

                 {% endif %}

                    <form class="row content exp-add" method="post">

                        {% csrf_token %}
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <h2 class="section-title section-title-sm">Experiences</h2>
                                <button type="button" class="btn btn-shadow-not btn-white btn-add"><span>+ </span> Add
                                </button>
                            </div>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="company" class="input-sub-title">COMPANY</label>
                            <input type="text" name="company" class="form-control light-input" id="company">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="title" class="input-sub-title">TITLE</label>
                            <input type="text" name="title" class="form-control light-input" id="title">
                        </div>
                        <div class="form-group form-group-mb col-lg-6 ml-0">
                            <label for="location" class="input-sub-title">LOCATION</label>
                            <input type="text"  name="location" class="form-control light-input" id="location">
                        </div>
                        <div class="col-12">
                            <div class="form-group form-group-mb form-full ">
                                <label for="description" class="input-sub-title">DESCRIPTION</label>
                                <textarea id="description" name="description" class="textarea"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="starting-month" class="input-sub-title monthpicker">STARTING MONTH</label>
                            <input type="text" name="startmonth" id="starting-month"
                                    class="form-control light-input monthpicker">


                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="startign-year2" class="input-sub-title">STARTIGN YEAR</label>
                            <input type="text" name="startyear" id="startign-year2"
                                    class="form-control light-input select yearpicker">

                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-month2" class="input-sub-title">TO MONTH</label>
                            <input type="text" name="endmonth" id="to-month2"
                                    class="form-control light-input  monthpicker">

                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-year2" class="input-sub-title">TO YEAR</label>
                            <input type="text" name="endyear" id="to-year2"
                                    class="form-control light-input  yearpicker">

                        </div>
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <div class="form-check form-check-inline current">
                                    <input class="form-check-input" name="iscurrent" type="checkbox" id="current">
                                    <label class="form-check-label" for="current">Is current</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">

                            <button type="submit" class="btn btn-action btn-shadow-not btn-save" >Save</button>
                            <button style="display: none;" class="btn btn-action btn-shadow-not btn-cancel" >Cancel</button>

                        </div>
                    </form>
                    <div class="row content-line">
                        <div class="col-12">
                            <div class="title-wrap">
                                <h2 class="section-title title-line">Submit Application</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline mb-0">
                                <input class="form-check-input" type="checkbox" id="agree">
                                <label class="form-check-label agree-label" for="agree">I agree to the <a
                                        href="#"
                                        target="_blank">Terms
                                    and Conditions</a></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-wrap">
                                <input type="button" class="btn btn-shadow-not btn-full complete"
                                       value="Complete " disabled>
                                <span class="devider">OR</span>
                                <input type="button" class="btn btn-shadow-not btn-full btn-white finalsub"
                                       value=" Save and Continue Leter " disabled>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal paperModal-->
<div class="modal fade "id="paperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog " role="document"  style="max-width: 30%;" >
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                 Qualification added
            </div>

        </div>
    </div>
</div>


<!-- Modal paperModal-->
<div class="modal fade "id="paperModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog " role="document"  style="max-width: 30%;" >
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                 Experience added
            </div>

        </div>
    </div>
</div>


<div class="modal fade "id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog " role="document"  style="max-width: 30%;" >
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                 Profile saved
            </div>

        </div>
    </div>
</div>


<div class="modal fade "id="continue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog " role="document"  style="max-width: 30%;" >
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
                 Profile Added
            </div>

        </div>
    </div>
</div>

















<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">




$(document).ready(function () {




    $(".btn-qualify-del").click(function(){


        var id = $(this).attr('rel');

         $.get("/quiz/qualifydel/"+id, function(data, status){

                 window.location.reload();


        });
    });


    $(".btn-exp-del").click(function(){


        var id = $(this).attr('rel');

         $.get("/quiz/expdel/"+id, function(data, status){

                 window.location.reload();


        });
    });



    $(".finalsub").click(function(){


            $( ".qualify-add" ).each(function() {

                $(this).trigger('submit');
            });

             $( ".exp-add" ).each(function() {

                $(this).trigger('submit');
            });

         window.location.href = "{% url 'profile' pk=request.session.userid %}";


    });

     $(".complete").click(function(){

        $( ".qualify-add" ).each(function() {

                $(this).trigger('submit');
            });

             $( ".exp-add" ).each(function() {

                $(this).trigger('submit');
            });
         window.location.href = "{% url 'profile' pk=request.session.userid %}";

    });






    $("#agree").click(function(){

        if ($(this).is(':checked'))
        {

            $(".finalsub").attr("disabled",false);
            $(".complete").attr("disabled",false);
        }
        else
        {
            $(".finalsub").attr("disabled",true);
            $(".complete").attr("disabled",true);

        }

    });


    $(".monthpicker").datepicker({
         autoclose: true,
         minViewMode: 1,
         format: 'mm'
    });



    $(".yearpicker").datepicker({
         autoclose: true,
         minViewMode: 2,
         format: 'yyyy'


    });


$("body").on("submit",".qualify-add",function(e){



    e.preventDefault();

    var formData = new FormData($(this).get(0));




    var form = $(this);
    $.ajax({
       url : '{% url 'qualifyadd' %}',
       type : 'POST',
       data : formData,
       processData: false,  // tell jQuery not to process the data
       contentType: false,  // tell jQuery not to set contentType
       success : function(data) {
           console.log(data);

        $("#paperModal").modal();
        $(".file-name").html("");
        $(".file-name").removeClass("selected");


      //   $("#qtable-body").append(tablerow);

           if (form.hasClass('content-line'))
           {
                form.hide()
           }
           else
           {

                form.trigger('reset');
          }

           window.location.reload();

       }
    });


   });




$("body").on("submit",".exp-add",function(e){

    e.preventDefault();
    var formData = $(this).serialize();
    var form = $(this);
    $.ajax({
       url : '{% url 'expadd' %}',
       type : 'POST',
       data : formData,
       success : function(data) {

            $("#paperModal2").modal();
           if (form.hasClass('content-line'))
           {
                form.hide()
           }
           else
           {

                form.trigger('reset');
          }

           window.location.reload();

       }
    });


   });





  $("body").on("click",".btn-add",function(){


            var formclass = "qualify-add";

            if($(this).closest('form').hasClass('qualify-add'))
            {
                formclass = 'qualify-add';

            }
            else
            {
                formclass = 'exp-add';

            }



            var value1 = '<form class="row content-line '+formclass+'" method="post">';
            var value2 =  $(this).parents(".content").html();
            var value3 = '</form>'

            if(value2 == undefined)
            {
                value2 =  $(this).parents(".content-line").html();

                 var value = value1 + value2 + value3;
                 $(this).parents(".content-line").after(value);
            }
            else
            {
                var value3 = '</form>'
                var value = value1 + value2 + value3;
                $(this).parents(".content").after(value);
            }

       //  var cancelbtn = '<button class="btn btn-action btn-shadow-not btn-cancel">Cancel</button>';

            x = $(".content-line").find(".btn-cancel").show();
            console.log(x);


         $(".monthpicker").datepicker({
         autoclose: true,
         minViewMode: 1,
         format: 'mm'


    });

    $(".yearpicker").datepicker({
         autoclose: true,
         minViewMode: 2,
         format: 'yyyy'


    });

    });

    $("body").on("click",".btn-cancel",function(){
          $(this).parents(".content-line").remove();
      });



});



</script>


<!-- CONTENT END -->
{% endblock %}