{% extends "basetemplate.html" %}

{% block title %} Registration2 {% endblock %}

{% block content %}
<!-- CONTENT -->
<section class="section-item registration-page ">
    <div class="container">
        <div class="row">
            <div class="section-content">
                <div class="title-wrap">
                    <h2 class="section-title title-line">Registration</h2>
                </div>

                     <form class="row content" method="post" ENCTYPE="multipart/form-data">
                        <div class="col-12">
                            <h2 class="section-title section-title-sm">Qualifications</h2>
                            <button type="button" class="btn btn-shadow-not btn-white btn-add"><span>+ </span> Add</button>
                        </div>


                        <div class="form-group form-group-mb col-lg-6">
                            <label for="university" class="input-sub-title">UNIVERSITY</label>
                            <input type="text" class="form-control light-input" id="university" name="university"  required
                                   placeholder=" ">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="level" class="input-sub-title">degree level</label>
                            <input type="text" name="degreelevel" class="form-control light-input" id="level" required
                                   placeholder=" ">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="degree" class="input-sub-title">DEGREE</label>
                            <select name="degree" id="degree" class="form-control light-input select">
                                <option></option>
                                <option value="deg1">degree</option>
                                <option value="deg2">degree</option>
                            </select>
                        </div>
                        <div class="clean-input col-lg-6"></div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="month" class="input-sub-title">STARTING MONTH</label>
                            <input name="startmonth" id="month" class="form-control light-input  monthpicker" >

                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="startign-year" class="input-sub-title">startign year</label>
                            <input name="startyear" id="startign-year"
                                    class="form-control light-input yearpicker" >
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-month" class="input-sub-title">TO MONTH</label>
                            <input name="endmonth" id="to-month" class="form-control light-input select monthpicker">
                        </div>
                        <input type="hidden" value="1" name="userid">
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-year" class="input-sub-title">to year</label>
                            <input name="endyear" id="to-year" class="form-control light-input select yearpicker">

                        </div>
    
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <p class="input-sub-title ">Qualifications Document</p>
                                <div class="form-file form-group-mb">
                                    <input class="file-input" name="document" type="file" id="document">
                                    <label class="file-label" for="document"><span>+</span> Add
                                        document</label>
                                    <span class="file-name"></span>
                                </div>

                                {% csrf_token %}

                                <button type="submit" class="btn btn-action btn-shadow-not btn-save">Save</button>
                                <button style="display: none;" class="btn btn-action btn-shadow-not btn-cancel" >Cancel</button>
                            </div>
                        </div>


                    </form>

                   <div class="row content-line" ></div>

                    <form class="row content" method="post">
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <h2 class="section-title section-title-sm">Experiences</h2>
                                <button type="button" class="btn btn-shadow-not btn-white btn-add"><span>+ </span> Add
                                </button>
                            </div>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="company" class="input-sub-title">COMPANY</label>
                            <input type="text" class="form-control light-input" id="company">
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="title" class="input-sub-title">TITLE</label>
                            <input type="text" class="form-control light-input" id="title">
                        </div>
                        <div class="form-group form-group-mb col-lg-6 ml-0">
                            <label for="location" class="input-sub-title">LOCATION</label>
                            <input type="text" class="form-control light-input" id="location">
                        </div>
                        <div class="col-12">
                            <div class="form-group form-group-mb form-full ">
                                <label for="description" class="input-sub-title">DESCRIPTION</label>
                                <textarea id="description" class="textarea"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="starting-month" class="input-sub-title">STARTING MONTH</label>
                            <select name="starting-month" id="starting-month"
                                    class="form-control light-input select">
                                <option value=""></option>
                                <option value="">STARTING MONTH</option>
                                <option value="">STARTING MONTH</option>
                            </select>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="startign-year2" class="input-sub-title">STARTIGN YEAR</label>
                            <select name="starting-month" id="startign-year2"
                                    class="form-control light-input select">
                                <option value=""></option>
                                <option value="">STARTIGN YEAR</option>
                                <option value="">STARTIGN YEAR</option>
                            </select>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-month2" class="input-sub-title">TO MONTH</label>
                            <select name="starting-month" id="to-month2"
                                    class="form-control light-input select">
                                <option value=""></option>
                                <option value="">STARTING MONTH</option>
                                <option value="">STARTING MONTH</option>
                            </select>
                        </div>
                        <div class="form-group form-group-mb col-lg-6">
                            <label for="to-year2" class="input-sub-title">TO YEAR</label>
                            <select name="starting-month" id="to-year2"
                                    class="form-control light-input select">
                                <option value=""></option>
                                <option value="">to year</option>
                                <option value="">to year</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-check-wraper">
                                <div class="form-check form-check-inline current">
                                    <input class="form-check-input" type="checkbox" id="current">
                                    <label class="form-check-label" for="current">Is current</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                             {% csrf_token %}
                            <button class="btn btn-action btn-shadow-not btn-save" >Save</button>
                            <button style="display: none;" class="btn btn-action btn-shadow-not btn-cancel" >Cancel</button>

                        </div>
                    </form>
                    <div class="row content-line">
                        <div class="col-12">
                            <div class="title-wrap">
                                <h2 class="section-title title-line">Submit Application</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline mb-0">
                                <input class="form-check-input" type="checkbox" id="agree">
                                <label class="form-check-label agree-label" for="agree">I agree to the <a
                                        href="#"
                                        target="_blank">Terms
                                    and Conditions</a></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-wrap">
                                <input type="submit" class="btn btn-shadow-not btn-full"
                                       value=" Complete ">
                                <span class="devider">OR</span>
                                <input type="submit" class="btn btn-shadow-not btn-full btn-white"
                                       value=" Save and Continue Leter ">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">


$(document).ready(function () {

    $(".monthpicker").datepicker({
         autoclose: true,
         minViewMode: 1,
         format: 'mm'


    });

    $(".yearpicker").datepicker({
         autoclose: true,
         minViewMode: 2,
         format: 'yyyy'


    });


  $("body").on("click",".btn-add",function(){




            var value1 = '<form class="row content-line" method="post">';
            var value2 =  $(this).parents(".content").html();
            var value3 = '</form>'

            if(value2 == undefined)
            {
                value2 =  $(this).parents(".content-line").html();

                 var value = value1 + value2 + value3;
                 $(this).parents(".content-line").after(value);
            }
            else
            {
                var value3 = '</form>'
                var value = value1 + value2 + value3;
                $(this).parents(".content").after(value);
            }

       //  var cancelbtn = '<button class="btn btn-action btn-shadow-not btn-cancel">Cancel</button>';

            x = $(".content-line").find(".btn-cancel").show();
            console.log(x);






         $(".monthpicker").datepicker({
         autoclose: true,
         minViewMode: 1,
         format: 'mm'


    });

    $(".yearpicker").datepicker({
         autoclose: true,
         minViewMode: 2,
         format: 'yyyy'


    });

    });

    $("body").on("click",".btn-cancel",function(){
          $(this).parents(".content-line").remove();
      });




});







</script>


<!-- CONTENT END -->
{% endblock %}