{% extends "basetemplate.html" %}

{% block title %} About As {% endblock %}

{% block content %}

{% load static %}
<!-- CONTENT -->
<section class="section-item about-page section-slider">
    <div class="container">
        <div class="row">
            <div class="section-content">
                <div class="title-wrap">
                    <h2 class="section-title title-line">About Us</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="content-title">Who We Are ?</h4>
                        <p class="content-text light-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate nobis voluptatum sint rem aspernatur quod optio, facilis placeat, quidem quaerat amet impedit architecto maiores sapiente, tempore nostrum explicabo esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cupiditate nobis voluptatum sint rem aspernatur quod optio, facilis placeat, quidem quaerat amet impedit architecto maiores sapiente, tempore nostrum explicabo esse.</p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</section>
<!-- CONTENT END -->

{% endblock %}